@{
    ViewBag.Title = "Acerca de Nosotros";
    ViewBag.Message = "Practica .NET MiW - UPM";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Este el desarrollo de la practica 1 de la asignatura .NET.</p>
