@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Harlyn Pichardo O.<br />
    Calle Camino de los Vinateros 150<br />
    <abbr title="Telefono">P:</abbr>
    602435218
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:h.pichardo@alumnos.upm.es">h.pichardo@alumnos.upm.es</a><br />
    
</address>